<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright: whatsinthemicrowave.com  -->
<!-- For illustration only  --> 

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="credential" class="com.whatsinthemicrowave.springbean.RsaFile">
        <property name="certificateFile" value="../data/whatsinthemicrowave.com.crt"/>
        <property name="privateKeyFile" value="../data/whatsinthemicrowave.com.key"/>
    </bean>
</beans>
